@import "tailwindcss";
@theme{
  --color-rod:#FFB13B
}

@font-face {
  font-family: italiana;
  src: url("./assets/font/italiana/Italiana-Regular.ttf");
}

.bgImage{
  background-image: url("./assets/Image/bg1.jpg");
  background-position: center;
  background-size: cover;
}
.italiana{
  font-family: italiana;
}
.blurr{
  backdrop-filter: blur(10px);
}